@media screen and (max-width: 700px) {
	.introduction {
		&__container {
		}

		&__greeting {
			font-size: 32px;
		}

		&__btn {
		}
	}
	.introduction-go {
	}
	.scrollBtn {
	}
	.fas {
	}
	.fa-arrow-right {
	}
}

@media screen and (max-width: 520px) {
	.introduction {
		&__container {
		}

		&__greeting {
			font-size: 27px;
		}

		&__btn {
		}
	}
	.introduction-go {
	}
	.scrollBtn {
	}
	.fas {
	}
	.fa-arrow-right {
	}
}

@media screen and (max-width: 440px) {
	.introduction {
		&__container {
		}

		&__greeting {
			font-size: 22px;
		}

		&__btn {
			font-size: 17px;
		}
	}
	.introduction-go {
	}
	.scrollBtn {
	}
	.fas {
	}
	.fa-arrow-right {
	}

	.works {

		&__container {
			padding: 60px 0 90px 0;
		}

		&__title {
		}

		&__line {
			margin: 15px auto 40px auto;
		}

		&__gallery {
		}

		&__gallery-item {
		}
}
.gallery-item {

		&__image {
		}

		&__second-bg {
		}

		&__list {
		}

		&__list-item {
			
		}

		&__btn {
		}
}
.identical {
}

}

@media screen and (max-width: 340px) {
	.introduction {
		&__container {
		}

		&__greeting {
			font-size: 20px;
		}

		&__btn {
			font-size: 15px;
			margin: 0 10px;
		}
	}
	.introduction-go {
	}
	.scrollBtn {
	}
	.fas {
	}
	.fa-arrow-right {
	}
}
